@page
@model QuestionnaireResultsModel
@{
    ViewData["Title"] = "QuestionnaireResults";
}

<div class="text-center">
    <h1 class="display-4">Результаты опросов</h1>
    <p>Тест <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
