@page
@model QuestionnaireRunSuccessModel
@{
    ViewData["Title"] = "Questionnaire Run Success";
}

<body>

    <header>
        <img src="https://gormedosmotr.ru/upload/iblock/25c/aut5ggwj9wak65pr3u58a0kadvtgcj86.png" alt="Логотип ООО ТК Мегаполис" class="logo">
    </header>
    <div class="text-center">

        <h1 class="display-4">Опрос успешно запущен</h1>
        <p>Для просмотра результатов опросов перейдите на вкладку "Результаты опросов"</p>
    </div>
    <style>
        body {
            background-image: url('https://i.gifer.com/embedded/download/NOq3.gif'); /* Путь к аниме-картинке */
            background-size: 70%;
            background-position: 50% 100%;
            background-repeat: no-repeat;
            padding: 20px;
            color: #004080; /* Темно-синий цвет */
        }
    </style>
</body>