@page
@model QuestionnaireRunModel
@{
    ViewData["Title"] = "QuestionnaireRun";
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Запуск опроса - ООО ТК Мегаполис</title>
    <style>
        body {
            /* font-family: 'Comic Sans MS', sans-serif; */
            background-image: url('https://avatars.mds.yandex.net/i?id=d1188cdbda349320bfc20a2ea7dade30_l-4900601-images-thumbs&n=13'); /* Путь к аниме-картинке */
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            padding: 20px;
            color: #004080; /* Темно-синий цвет */
        }

        header {
            text-align: end;
            margin-bottom: 20px;
        }

        .form-label {
            font-weight: bold;
            color: #004080; /* Темно-синий цвет */
        }

        .form-select, .form-control {
            margin-bottom: 15px;
            border-color: #004080; /* Темно-синий цвет */
            border: 3px solid #003366;
        }

        .button {
            text-align: end;
            margin-top: 20px;
        }

        .btn-primary {
            background-color: #004080; /* Темно-синий цвет */
            border-color: #004080; /* Темно-синий цвет */
        }

        .btn-primary:hover {
            background-color: #003366; /* Темнее синий цвет */
            border-color: #003366; /* Темнее синий цвет */
        }

        .date-input {
            padding: 10px;
            font-size: 16px;
            border: 3px solid #003366;
            border-radius: 5px;
            background-color: #fff;
            color: #003366;
        }
    </style>
</head>
<body>
    <header>
        <img src="https://gormedosmotr.ru/upload/iblock/25c/aut5ggwj9wak65pr3u58a0kadvtgcj86.png" alt="Логотип ООО ТК Мегаполис" class="logo">
        <h3>Заполните поля для запуска опроса</h3>
    </header>

    <label for="questionnaireSelect" class="form-label">Выбор опроса для отправки</label>
    <select class="form-select" aria-label="Выбор опроса для отправки">
        <option selected></option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>

    <label for="userGroupSelect" class="form-label">Выбор группы пользователей для отправки</label>
    <select class="form-select" aria-label="Выбор группы пользователей для отправки">
        <option selected></option>
        <option value="1">HR</option>
        <option value="2">MM</option>
        <option value="3">SD</option>
        <option value="4">Всем</option>
    </select>

    <label for="userSelect" class="form-label">Выбор пользователей для отправки</label>
    <div class="input-group flex-nowrap">
        <input type="text" class="form-control" id="userSelect" required>
    </div>

    <label for="dateSelect" class="form-label">Выбор даты окончания опроса</label>
    <div class="input-group flex-nowrap">
        <input type="date" class="date-input">
    </div>

    <div class="button">
        <button type="button" class="btn btn-primary" onclick="redirectToNextPage()">Запустить</button>
    </div>

    <script>
        function redirectToNextPage() {
            window.location.href = 'QuestionnaireRunSuccess';
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

