@page
@model WelcomPageModel
@{
    ViewData["Title"] = "Welcome Page";
}

<body>

    <header>
        <img src="https://gormedosmotr.ru/upload/iblock/25c/aut5ggwj9wak65pr3u58a0kadvtgcj86.png" alt="Логотип ООО ТК Мегаполис" class="logo">
    </header>
        <div class="text-center">

            <h1 class="display-4">Приветствуем!</h1>
            <p>Для запуска опроса перейдите на вкладку "Запуск опроса"</p>
            <p>Для просмотра результатов опросов перейдите на вкладку "Результаты опросов"</p>
        </div>
    <style>
        body {
            background-image: url('https://kartinki.pics/uploads/posts/2021-07/1626391671_5-kartinkin-com-p-shapka-dlya-tvicha-anime-anime-krasivo-5.jpg'); /* Путь к аниме-картинке */
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            padding: 20px;
            color: #004080; /* Темно-синий цвет */
        }
    </style>
</body>
