@page
@model WelcomPageModel
@{
    ViewData["Title"] = "Welcome Page";
}

<div class="text-center">
    <h1 class="display-4">Приветствуем!</h1>
    <p>Для запуска опроса перейдите на вкладку "Запуск опроса"</p>
    <p>Для просмотра результатов опросов перейдите на вкладку "Результаты опросов"</p>
</div>
